In [21]:
""" multipal variable defining
 upper or lower, count case
 list, tuple or dict operation
 if condition with <,>, <=,>= , and, or, not
 while loop"""

' multipal variable defining\n upper or lower, count case\n list, tuple or dict operation\n if condition with <,>, <=,>= , and, or, not\n while loop'

In [22]:
a = 255

In [23]:
print(a)

255

In [30]:
#multipal variable defining


a, b, c =  36, 25, 90

In [31]:
a

36

In [32]:
b

25

In [33]:
c

90

In [28]:
print(a, b , c)

25 36 90

In [34]:
 a= "Tushar"

In [35]:
print(a.lower())

tushar

In [36]:
print(a.upper())

TUSHAR

In [38]:
 a = "We are using python IN our Course"

In [39]:
print(a.lower())

we are using python in our course

In [43]:
print(a.upper())

WE ARE USING PYTHON IN OUR COURSE

In [44]:
a = "We are using python IN our Course"

In [46]:
a.count("a")

1

In [47]:
a.count("u")

3

In [48]:
list = [25,"Tushar", 25.66, "Sonp"]

In [49]:
list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [60]:
list = [25,96,89,122,36,12,2,12.5]

In [61]:
print(list.sort())

None

In [62]:
list

[2, 12, 12.5, 25, 36, 89, 96, 122]

In [57]:
list = ["a", "r", "c", 'b']

In [58]:
list.sort()

In [59]:
list

['a', 'b', 'c', 'r']

In [67]:
a = "Tushar"

In [68]:
list.append(a)

In [69]:
list

[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 'Tushar']

In [74]:
for i in range(0,10):
    list.append(i)
    print(list)

[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8]
[25, 96, 89, 122, 36, 12, 2, 12.5, 256, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
list

[25,
 96,
 89,
 122,
 36,
 12,
 2,
 12.5,
 256,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [76]:
list = [25,96,89,122,36,12,2,12.5, "Tushar"]

In [77]:
list

[25, 96, 89, 122, 36, 12, 2, 12.5, 'Tushar']

In [78]:
list.remove(25)

In [79]:
list

[96, 89, 122, 36, 12, 2, 12.5, 'Tushar']

In [80]:
list.remove("Tushar")

In [81]:
list

[96, 89, 122, 36, 12, 2, 12.5]

In [82]:
#sort
#append
#remove
#index
#extend
#max
#min

In [84]:
list.index(2)

5

In [85]:
list.extend("Tushar")   #function addd multi. value at a time

In [86]:
list

[96, 89, 122, 36, 12, 2, 12.5, 'T', 'u', 's', 'h', 'a', 'r']

In [89]:
list.append("Tushar")

TypeError: append() takes exactly one argument (2 given)

In [88]:
list

[96, 89, 122, 36, 12, 2, 12.5, 'T', 'u', 's', 'h', 'a', 'r', 'Tushar']

In [90]:
list.extend([1,253,63,56])

In [91]:
list

[96,
 89,
 122,
 36,
 12,
 2,
 12.5,
 'T',
 'u',
 's',
 'h',
 'a',
 'r',
 'Tushar',
 1,
 253,
 63,
 56]

In [92]:
list.append([1,253,63,56])

In [93]:
list

[96,
 89,
 122,
 36,
 12,
 2,
 12.5,
 'T',
 'u',
 's',
 'h',
 'a',
 'r',
 'Tushar',
 1,
 253,
 63,
 56,
 [1, 253, 63, 56]]

In [94]:
list.remove("Tushar")

In [95]:
list

[96,
 89,
 122,
 36,
 12,
 2,
 12.5,
 'T',
 'u',
 's',
 'h',
 'a',
 'r',
 1,
 253,
 63,
 56,
 [1, 253, 63, 56]]

In [96]:
list = [25,96,89,122,36,12,2,12.5]

In [98]:
max(list)

122

In [99]:
min(list)

2

In [100]:
#sort
#append
#remove
#index
#extend
#max
#min

In [108]:
tuple = (25,96,89,122,36,12,2,12.5)   #immutable

In [103]:
tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [104]:
tuple.append(25)

AttributeError: 'tuple' object has no attribute 'append'

In [106]:
tuple.index(12)

5

In [109]:
max(tuple)

122

min(tuple)

In [110]:
min(tuple)

2

In [117]:
type(set)

tuple

In [118]:
set1 = set()

TypeError: 'tuple' object is not callable

In [119]:
set1 = set(12,25,36,5)

TypeError: 'tuple' object is not callable

In [120]:
dict = {2:"Tushar", 6: 256, 7:["tsu", 25]}

In [121]:
dict[2]

'Tushar'

In [122]:
dict[6] =  485

In [123]:
dict

{2: 'Tushar', 6: 485, 7: ['tsu', 25]}

In [136]:
a = 25

In [125]:
if a == 25:
    print("Yes")

Yes

In [135]:
if a < 25:
    print("Yes")

In [134]:
if a >= 25:
    print("Yes")

Yes

In [137]:
if a == 25 and a < 25:
    print("Yes")

In [138]:
"""and 
True True Run
False True not run
True False not run
flase flase not run"""

'and \nTrue True Run\nFalse True not run\nTrue False not run\nflase flase not run'

In [144]:
if a==25 or a < 25:
    print("Yes")

In [143]:
a = 26

In [2]:
a = 3

In [3]:
while a == 2:
    print("Tushar")

In [6]:
a = 4
while a <= 9:
    print(a)
    a = a+1     # a = 4 + 1 = 5

4
5
6
7
8
9

In [ ]:
value = "gr4yyeh"

while value == 'yes':
    print("running")

In [2]:
cont = "yes"
while cont == "yes":
    print("running")
    cont = input()

running
yes
running
yes
running
Yes

In [3]:
cont == "yes"

False

In [4]:
count = "Yes"

In [7]:
count.lower() == "yes"

True