In [3]:
notes = 5 
i = 1 
j = 1
while i < notes:
    print(i)
    i += 1
else :
    
    while j < 2 :
        print(i)
        j = j + 1 
    print("no 10 rs notes are available ")

1
2
3
4
5
no 10 rs notes are available

In [31]:
s = "my name is sudhanshu"

In [32]:
s

'my name is sudhanshu'

In [33]:
s[2:-6]

' name is sud'

In [15]:
s[3:10:2]

'nm s'

In [22]:
s[::-1]

'uhsnahdus si eman ym'

In [23]:
s[2:-6]

' name is sud'

In [24]:
s = "sudh"

In [28]:
s[0]

's'

In [34]:
s

'my name is sudhanshu'

In [36]:
for i in s :
    if i == 's':
        print(" i got s as a string ")
    print(i)

m
y

n
a
m
e

i
 i got s as a string
s

 i got s as a string
s
u
d
h
a
n
 i got s as a string
s
h
u

In [37]:
s

'my name is sudhanshu'

In [42]:
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 'u':
        print("last char was u ")
    print("this is a else condtion ")

m
y

a
m
e

i
s

s
u
d
h
a
s
h
u
last char was u
this is a else condtion

In [53]:
s =  "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else :
        ss = ss + s[i]

In [54]:
ss

'ieuro'

In [55]:
len(s)

7

In [58]:
n = 7 
for i in range(0 ,n):
    for j in range(0 ,i +1):
        print("+ " , end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [59]:
def pattern(n):
      k = 2*n -2
      for i in range(n,-1,-1):
           for j in range(k,0,-1):
                print(end=" ")
           k = k +1
           for j in range(0, i+1):
                print("*", end=" ")
           print("\r")
 
pattern(5)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [75]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [60]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

Enter number of rows required: 7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [77]:
for i in range(8, 0, -1):
    print(i)

8
7
6
5
4
3
2
1

In [61]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [80]:
" "*5

'     '

In [78]:
n =9
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [63]:
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    
    k=k+2
    
    i=i+1

    *
   ***
  *****
 *******
*********

In [64]:
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()
print("**iNeuron-FSDS**")

Please enter the amount of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************
**iNeuron-FSDS**

In [81]:
l = list()

In [82]:
name = "sudh"
phno = 543535345
addr = "sdfsff"

name , phno , addr = "sudh " , 54353453,"fgfd"

In [122]:
l = ["sudh" , 34535,"sfsfsafa", True, 45+8j , [3,5,6,"dfg"],6.787]

len(l)

7

In [121]:
range(10)

range(0, 10)

In [119]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [120]:
for  i in range(4,10):
    print(i)

4
5
6
7
8
9

In [114]:
l[80 :3:1]

[]

In [107]:
for i in l :
    if type(i) == list:
        n = 0
        for  j in i :
            if type(j) == int :
                n = n + j
        print(n)
                
        print(type(j))

14
<class 'str'>

In [88]:
type(l)

list

In [94]:
l1 = []
type(l1)

list

In [95]:
l2 = list()
type(l2)

list

In [90]:
type(l1)

list

In [85]:
l[0]

'sudh'

In [86]:
l[1]

34535

In [87]:
l[2]

'sfsfsafa'

In [2]:
number=[1,5,6,9,0]
for i in range(len(number)):
    for j in range(i+1,len(number)):
        if number[i]>number[j]:
            number[i],number[j]=number[j],number[i]
print(number)

[0, 1, 5, 6, 9]

In [3]:
n = [1,2,3,5]

n[2] = n[1]
n[1] = n[3]

In [4]:
n

[1, 5, 2, 5]

In [5]:

import pandas as pd
# First DataFrame
df1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                    'Name': ['ABC', 'PQR', 'DEF', 'GHI']})
  
# Second DataFrame
df2 = pd.DataFrame({'id': ['B05', 'B06', 'B07', 'B08'],
                    'Name': ['XYZ', 'TUV', 'MNO', 'JKL'],
                    'Value': ['XYZ', 'TUV', 'MNO', 'JKL']})
  
  
frames = [df1, df2]
  
result = pd.concat(frames)
print(result)

    id Name Value
0  A01  ABC   NaN
1  A02  PQR   NaN
2  A03  DEF   NaN
3  A04  GHI   NaN
0  B05  XYZ   XYZ
1  B06  TUV   TUV
2  B07  MNO   MNO
3  B08  JKL   JKL

In [7]:
import random
n = random.random()
print(n)

0.7194001691362869

In [8]:
a = range(0,10)
a

range(0, 10)

In [11]:
print(abs.__doc__)
print(int.__doc__)
print(raw_input.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

NameError: name 'raw_input' is not defined