### To reverse a number

In [4]:
n = int(input())
s = 0
while n > 0:
    reminder = n%10
    s = s*10 + reminder
    n = n//10
print(s)

21

### Check Palendrom Number

##### A number (such as 16461) that remains the same when its digits are reversed

In [9]:
n = int(input())
s = 0
t = n
while n > 0:
    reminder = n%10
    s = s*10 + reminder
    n = n//10
print(s)

if s == t:
    print("It is palendrom number")
else:
    print("Not")

12321
It is palendrom number

### Print number in character form

In [11]:
d = {1 : "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five", 6: "Six", 7: "Seven", 8: "Eight", 9: "Nine", 0: "Zero"}
n = int(input("Enter: "))
s = 0
t = n
while n > 0:
    r = n%10
    s = s*10 + r
    n = n//10
while s> 0:
    r = s%10
    print(d[r])
    s = s//10

One
Two
Three

### Print Fractorial

In [12]:
num = int(input("Enter Any Number:"))
factorial = 1
if num < 0:
    print("Sorry The Factorial Of -ve Number Is Not Possible")
elif num == 0:
    print("The Factorial Of Zero Is 1")
else:
    for i in range(1,num+1):
        factorial = factorial*i
    print("The Factorial Of",num,"Is",factorial)

The Factorial Of 6 Is 720

### The Fibonacci sequence?

##### The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ... The next number is found by adding up the two numbers before it:.

In [16]:
lenght = int(input("Enter the length of sequence: "))
num_1 = 0
print(num_1)
num_2 = 1
print(num_2)
for i in range(0,lenght-2):
    num_3 = num_1 + num_2
    print(num_3)
    num_1, num_2 = num_2, num_3

0
1
1
2
3
5
8
13
21
34

##### Using while loop

In [17]:
n = int(input("Enter"))
m = 0
a = 0
b = 1
print(a)
print(b)
while m < n-2:
    c = a+b
    print(c)
    a, b = b, c
    m += 1

0
1
1
2
3
5
8
13
21
34

### Sum of all those numbers which are divisible by either 3 or 5. Except those number which are divisible by both 3 and 5.

In [19]:
n = 1
m = 0
while n < 1001:
    if n%3 == 0 or n%5 == 0:
        if n%3 == 0 and n%5 == 0:
            pass
        else:
            m = m+ n
    n +=1

print(m)

201003

### Nested while loop

In [20]:

i = 1

while i<= 3:
    j = 1
    while j<= 3:
        print(i,j, end="\t")
        j += 1
    print()
    i +=1

1 1	1 2	1 3
2 1	2 2	2 3
3 1	3 2	3 3

In [22]:
i = 1
while i <=5:
    print("*"*i)
    i += 1

*
**
***
****
*****

In [23]:
i = 1
while i<= 5:
    j = 1
    while j<= i:
        print("*", end="")
        j += 1
    print()
    i+=1

*
**
***
****
*****

In [24]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(i, end=" ")
        j += 1
    print()
    i += 1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [26]:
i = 5
while i >=1:
    j = 1
    while j <=i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [27]:
i = 5
while i >=1:
    j = 1
    while j <=i:
        print(i, end=" ")
        j += 1
    print()
    i -= 1

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [28]:
i = 5
while i >=1:
    j = 1
    while j <=i:
        print(5-(i-1), end=" ")
        j += 1
    print()
    i -= 1

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [29]:
i = 5
while i >=1:
    j = 0
    while j <i:
        print(i-j, end=" ")
        j += 1
    print()
    i -= 1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [34]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="   ")
   
    while k!=(2*i-1):
        print(i," ", end="")
        k += 1
   
    k = 0
    print()

            1
         2  2  2
      3  3  3  3  3
   4  4  4  4  4  4  4
5  5  5  5  5  5  5  5  5

In [35]:
rows = 5

k = 0
count=0
count1=0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1
    
    count1 = count = k = 0
    print()

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

### WAP to enter 5 element from user and append them into a list and print the list

In [36]:
l = []
n = 0
while n < 5:
    value = int(input("Enter value: "))
    l.append(value)
    n += 1
print(l)

n = 0
while n<5:
    print(l[n])
    n+=1

[1, 2, 3, 4, 5]
1
2
3
4
5

### WAP to enter 5 elements from user and print total and average of them

In [37]:
l = []
n = 0
while n < 5:
    value = int(input("Enter value: "))
    l.append(value)
    n += 1
print(l)

print("Total : ", sum(l))
print("Average: ",(sum(l)/len(l)))

[1, 2, 3, 4, 5]
Total :  15
Average:  3.0

### WAP to enter 5 elements from user and print sum of them without using sum function

In [38]:
l = []
n = 0
while n < 5:
    value = int(input("Enter value: "))
    l.append(value)
    n += 1
print(l)

n = 0
m = 0
while n<5:
    m += l[n]
    n+=1
print("Total : ", m)
print("Average: ",m/5)

[1, 2, 3, 4, 5]
Total :  15
Average:  3.0

### WAP to enter a string from user and print lenght of it

In [41]:
s = input("Enter Here: ")
print(len(s))

if len(s)<= 2:
    print("your string lenght is less then 2")
else:
    print(s[:2] + s[-2:])

11
held

In [42]:
r  = range(10)
print(r)

print(list(r))
print(list(range(5,20)))
print(list(range(5,20,2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[5, 7, 9, 11, 13, 15, 17, 19]